#caixa-central {
    margin-top: 27px;
    height: 70vh;
    max-height: 70%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;

}

#centralizar-sub-caixa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 98%;
    background-color: white;
    
}

#item-projetos {
    height: 90%;
    width: 75%;
    background-color: gray;
}

#item-sobre {
    height: 90%;
    width: 22%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

#img {
    height: 30%;
    width: 90%;
    background-color: bisque;
}

#social {
    height: 30%;
    width: 90%;
    background-color: bisque;
}

#sobre {
    height: 30%;
    width: 90%;
    background-color: bisque;
}

img {
    margin-top: 5px;
    width: 150px;          /* largura da imagem */
    height: 150px;         /* altura da imagem */
    border-radius: 50%;    /* deixa totalmente redonda */
    object-fit: cover;     /* mantém a proporção e corta se necessário */
}