body {
    background-color: #F2F5F9;
}

#navegacao {
    height: 42px;
    width: 99%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

item-home-site {
    width: 20%;
    height: 30px;
    font-size: 25px;
}

.item-nav {
    height: 30px;
    font-size: 25px;
}

/*

#item-sobre {
    height: 100%;
    width: 22%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 5px;
    background-color: #FFF;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

*/
#social {
    height: 42px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90%;
    width: 90%;
}

#titulo-sobre {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#sobre-blog-me {
    height: 56%;
    width: auto;
    margin-left: 17px;
    margin-right: 17Px;
    text-align: justify;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.social-link {
    margin: 0px 6px;
    font-size: 25px;
    border-radius: 4px;
    background-color: #F2F5F9;
    color: #2C2D2E;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-link:hover {
    color: #fff;
    padding: 3px 3px 9px 3px;
    font-size: 30px;
    background: #107fd2;
    transform: translateY(-10px)
}

#name {
    height: 18px;
    width: 65%;
    margin-bottom: 14px; 
    text-align: center;
}
h3 {
    margin: 0;
}

#title {
    text-align: center;
    margin: 0 0 4 0;
}

#list-post {
    height: 100%;
    min-width: 190px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}



#ultimas-postagens {
    width: 99%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
}

    #caixa-central {
    height: 90vh;
    max-height: 70%;
    background-color: #F2F5F9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    }

    #centralizar-sub-caixa {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 99%;
        width: 99%;
        background-color: #F2F5F9;   
    }

    #last-post {
        margin-top: 5px;
        display: block;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .formatar-link {
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    }

    #item-projetos {
        background-color: #FFF;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        display: flex;
        flex-direction: row;
        margin-top: 3px;
        height: 45vh;
        width: 95vw;
    }
    
    #item-sobre {
    border-radius: 5px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 5px;
    background-color: #FFF;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    height: 300px;
    width: 95vw;
    display: flex;
    flex-direction: row;
    
    }

    img {
        height: 80%;
        width: 70%;
        border-radius: 50%;   
        object-fit: cover;
        margin-top: 15px;  
    }

    #img {
        height: 100%;
        min-width: 190px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img2 {
        height: 66%;
        width: 100%;
    }

.card {
    margin-top: 2px;
    margin-left: 7px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: auto;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default;
    display: block;
    text-decoration: none;
    color: inherit;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
}



@media (max-width: 580px) {

    #titulo-sobre {
    font-size: 22px;
    margin-top: 1px;
    margin-bottom: 8px;
    }

    #img{
        height: 190px;
        justify-content: space-around;
    }

    #sobre {
        height: 240px;
    }

    #sobre-blog-me {
        font-size: 16px;
    }

    #item-sobre {
    height: 500px;
    flex-direction: column;
    }

    #img2 {
        height: 100px;
        width: 200px;
        
    }

    img {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 5px;
    }

    #name {
        height: 18px;
        width: 65%;
        margin-bottom: 5px;
        text-align: center;
    }

    #ultimas-postagens {
        height: auto;
        margin-top: 5px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

}
/*

from app import create_app

app = create_app()