#caixa-central {
    margin-top: 27px;
    height: 70vh;
    max-height: 70%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;

}

#centralizar-sub-caixa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95%;
    width: 98%;
    background-color: white;
    
}

#item-sobre {
    height: 90%;
    width: 22%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

#item-projetos {
    height: 40%;
    width: 70%;
    background-color: gray;
}

#img {
    height: 30%;
    width: 90%;
    background-color: bisque;
}

#social {
    height: 30%;
    width: 90%;
    background-color: bisque;
}

#sobre {
    height: 30%;
    width: 90%;
    background-color: bisque;
}