body {
    height: 100vh;
    width: 100vw;
    margin: 0;


    background: url('./images/img_fundo_pg_main.png');
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left bottom;
}

header {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    width: 97%;

}

nav {
    height: 50px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}



a {
    font-size: 26px;
    font-weight: 500;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    opacity: 0.7;
}

main {
    margin: 70px auto 0 auto;
}

#title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto 3px auto;
    text-align: center;
    width: 97%;
}

#title-subtitle h1, h3 {
    color: white;
    margin: 8px auto;
}

#last-posts {
    width: 75%;
    background-color: white;
    height: 400px;
    margin: 30px auto 0px auto;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        gap: 8px;
    }

    main {
        margin: 25px auto 0 auto;
    }
}


.autocomplete {
    position: relative;
}

.autocomplete input,
.autocomplete button {
  font-size: 20px;
  padding: 8px 12px;
}


.sugestoes {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  max-height: 180px;
  overflow-y: auto;

  z-index: 1000;
}

.sugestao-item {
  padding: 8px 10px;
  cursor: pointer;
}

.sugestao-item:hover {
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}

