body {
    height: 100vh;
    width: 100vw;
    margin: 0;


    background: url('./images/img_fundo_pg_main.png');
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left bottom;
}

header {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    width: 97%;

}

nav {
    display: flex;
    gap: 32px;
}



a {
    font-size: 26px;
    font-weight: 500;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    opacity: 0.7;
}

main {
    margin: 70px auto 0 auto;
}

#title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto 3px auto;
    text-align: center;
    width: 97%;
}

#title-subtitle h1, h3 {
    color: white;
    margin: 8px auto;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        gap: 8px;
    }

    main {
        margin: 25px auto 0 auto;
    }
}
