<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_pg.css') }}">
</head>
<body>
    <div id="caixa-central">
        <div id="centralizar-sub-caixa">
            <div id="item-sobre">
                <div id="img"><img src="{{ url_for('static', filename='images/victor.jpg') }}" alt=""></div>
                <div id="social">redes sociais</div>
                <div id="sobre">sobre mim</div>
            </div>
            <div id="item-projetos">2</div>
        </div>
    </div>
</body>
</html>

