<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{{ url_for('static', filename='teste.css') }}">
</head>
<body>
    <header>
        <a href="#">Dataengineervictor</a>

        <nav>
            <a href="#">About me</a>
            <a href="#">Content</a>
            <a href="#">Search</a>
        </nav>
    </header>

    <main>
        <section id="title-subtitle">
            <h1>Blog's Vitor Rodrigues About Data Engineer</h1>
            <h3>Hello! Welcome to my blog. This blog has been developing for posting my projects and my studies about data engineering.</h3>
        </section>
    </main>
</body>
</html>